/* @import url('http://example.com/example_style.css'); */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/* Fonts */
@font-face {
    font-family: 'roboto';
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-light-webfont.eot');
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-light-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-light-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-light-webfont.ttf') format('truetype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-regular-webfont.eot');
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-regular-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-regular-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-regular-webfont.ttf') format('truetype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-italic-webfont.eot');
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-italic-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-italic-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-italic-webfont.ttf') format('truetype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-medium-webfont.eot');
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-medium-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-medium-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-medium-webfont.ttf') format('truetype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-bold-webfont.eot');
    src: url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-bold-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-bold-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-bold-webfont.ttf') format('truetype'),
         url('http://cdn2.hubspot.net/hubfs/540072/confluent/Fonts_New/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}



* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box }

body {
  margin:0;
  padding:0;
  font-family:'roboto', Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:26px;
  color:#15202B;
  background:#fff;
  overflow-x:hidden;
}
img {
  border:0;
  outline:none;
  max-width:100%;
  height:auto;
}
hr {
  border-color:#ccc;
  clear:both;
  margin-top:30px;
}
.img-responsive2 {
  max-width:100%;
  height:auto;
}

.clear { clear:both }
strong { font-weight:300; }
iframe { margin:0; padding:0; border:none; vertical-align: top; }

h1 {
  font-size:60px !important;
  line-height:65px !important;
  margin:0;
  padding:15px 0;
  font-weight:700;
  clear:both
}
h2 {
    font-weight:700;
    color:#333;
    font-size:38px;
    line-height:48px;
    margin:0;
    padding:10px 0 10px;
    clear:both
}
h3 { font-weight:normal; color:#333; font-size:30px; line-height:36px; margin:0; padding:10px 0 10px; clear:both }
h4 { font-weight:normal; color:#111820; font-size:26px; line-height:34px; margin:0; padding:10px 0 10px; clear:both }
h5 { font-weight:normal; color:#333; font-size:24px; line-height:30px; margin:0; padding:10px 0 10px; clear:both; }
h6 { font-weight:normal; color:#333; font-size:22px; margin:0; padding:10px 0; line-height:26px; clear:both }

a { text-decoration:none; outline:none; color:#4597cb; -webkit-transition:all .4s ease-in-out; -moz-transition:all .4s ease-in-out; -o-transition:all .4s ease-in-out; transition:all .4s ease-in-out; }
a:hover { color:#333; }

p { padding:15px 0; margin:0; }

input , button , textarea { border:none; outline:none; }
input[type=submit] , button { cursor:pointer; background-image:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/blank.png) !important ; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all  0.4s ease-in-out; }
ul.hs-error-msgs { margin:0; padding:0; list-style:none; float:left; width:100%; }
.hs-error-msgs * { color:#ffa500 !important; font-style:italic; }

.hs-menu-wrapper.hs-menu-flow-horizontal ul li a:link , .hs-menu-wrapper.hs-menu-flow-horizontal ul li a:visited { max-width: none !important; text-overflow: inherit !important; vertical-align:top; }
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a { width:100%; }
.hs-menu-wrapper.hs-menu-flow-horizontal ul { vertical-align:top; }

.row-fluid [class*="span"] { min-height:0; }


.row-fluid .bgimg-main { background-size:cover; background-repeat:no-repeat; background-position:center center; }
.row-fluid .bg-img { display:none; }

.row-fluid .wrapper {
  margin:0 auto !important;
  max-width:1170px;
  float:none;
}

/* Nav */
.top {
  position:fixed;
  top:0;
  left:0;
  height:80px;
  width:100%;
  z-index:10;
  padding:20px;
  background:#111820;
  min-width:430px;       /* Set based on width of nav elements */
}
.top.fixed {
  box-shadow:0px 0px 20px 2px #000;
  -moz-box-shadow:0px 0px 20px 2px #000;
  -webkit-box-shadow:0px 0px 20px 2px #000;
}
.top .logo {
  float:left;
  width:auto;
}

.morecontent div {
    display:none;
}
.morelink {
    display:block;
}

/* Google search in top */
.top-search {
  margin: 5px 0 0 20px !important;
  float:left !important;
  position:relative;
  width:220px !important;
}
.top-search .gsc-input-box {
  width:220px !important;
  background:none;
  border:none;
}
.top-search label {
  display:none;
}
.top-search .gsc-control-cse {
  background:none;
  border:none;
  padding:0;
}
.top-search .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding:0;
  position:absolute;
  z-index:1;
  top:0;
}
.top-search td.gsc-search-button {
  position:absolute;
  z-index: 0;
  top:0;
  padding:0;
  border:none;
  width:32px;
  height:32px;
  font-size:0;
  background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/search-icon.png) no-repeat center; background-size: 15px 15px;
}
.top-search .gsc-search-button input {
  display:none;
}
.top-search .gsc-input-box input {
  background:none;
  float:left;
  height:32px !important;
  padding:0 20px 0 40px !important;
  color:#fff;
  border-radius:2px;
  border:1px solid #5d5d60 !important;
  background:none !important;
}
.top-search .gsc-input-box .gsib_a {
  padding: 0;
}
.top-search .gsst_a .gscb_a {
  margin-left:-30px;
  margin-top:6px;
  color:#ffffff;
  z-index:2;
  position:relative;
}
.top-search .gsst_a .gscb_a:hover {
  color:#5d5d60;
}

/* Nav links */
.row-fluid .mainmenu {
  float:right;
  width:auto;
  margin:0;
  left:300px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.row-fluid .mainmenu ul li a {
  padding:10px 0;
  margin:0 20px;
  font-size: 18px;
  line-height:20px;
  color: #a7a7a8;
  position:relative;
}
.row-fluid .mainmenu ul li a:hover {
  color:#fff;
}
.row-fluid .mainmenu ul li a:before {
  content:'';
  position:absolute;
  left:0;
  bottom:0;
}
.row-fluid .mainmenu ul li.active a:before {
  background:#4597cb;
  height:4px;
  border-radius:2px;
  width:100%;
}
.row-fluid .mainmenu ul li:last-child a {
  border-radius:2px;
  background:#4597cb;
  font-size: 18px;
  color: #fff;
  padding:10px 25px;
  margin:0 0 0 15px;
}
.row-fluid .mainmenu ul li:last-child a:hover {
  background:#4089b7;
}
.row-fluid .mainmenu ul li:last-child a:before {
  display:none;
}


/* Header */
.row-fluid .header { float:left; width:100%; text-align:center; color:#fff; font-size: 24px; line-height:30px; position:relative; font-weight:300; }
.row-fluid .header-content { padding:340px 0 280px;  }
.row-fluid .header:before {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-image: -moz-linear-gradient(175deg, rgba(251, 101, 27, 0.0), rgba(251, 101, 27, 0.7));
  background-image: -webkitlinear-gradient(175deg, rgba(251, 101, 27, 0.0), rgba(251, 101, 27, 0.7));
  background-image: linear-gradient(175deg, rgba(251, 101, 27, 0.0), rgba(251, 101, 27, 0.7));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fb651b', endColorstr='#b3fb651b',GradientType=0 ); /* IE6-9 */
}

.row-fluid .header > div { position:relative; }

.row-fluid .header h2 { font-size:36px; line-height:44px;/*font-size:60px; line-height:66px;*/ color:#fff; padding:0; font-weight:700; }
.row-fluid .header-icon { position:absolute; left:0; bottom:-40px; }
.row-fluid .header-icon img { position:relative; top:0; left:0; animation:animation1 infinite 1s ; -webkit-animation:animation1 infinite 1s ; }
@keyframes animation1 { 0% { top:6px; } 33% { top:0px; } 66% { top:-6px; } 100% { top:0px; } }
@-webkit-keyframes animation1 { 0% { top:6px; } 33% { top:0px; } 66% { top:-6px; } 100% { top:0px; } }

.row-fluid .header-text {
    padding:0 15%;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight:500;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.row-fluid .inner-header {
  width:100%;
  text-align:center;
  color:#fff;
  font-size: 24px;
  line-height:30px;
  position:relative;
}
.row-fluid .innerheader-content {
  margin:20% 0 20%;
}
.row-fluid .inner-header:before {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-image: -moz-linear-gradient(175deg, rgba(251, 101, 27, 0.0), rgba(251, 101, 27, 0.7));
  background-image: -webkitlinear-gradient(175deg, rgba(251, 101, 27, 0.0), rgba(251, 101, 27, 0.7));
  background-image: linear-gradient(175deg, rgba(251, 101, 27, 0.0), rgba(251, 101, 27, 0.7));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fb651b', endColorstr='#b3fb651b',GradientType=0 ); /* IE6-9 */
}

.row-fluid .inner-header > div { position:relative; }

.row-fluid .inner-header h1 { padding:0 20px; }
.row-fluid .innerheader-text {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    padding: 0 20px;
    font-weight: 300;
}

/* Homepage - main offerings boxes */
.row-fluid .serviceboxes-main { padding:125px 0 80px;  float:left; width:100%; text-align:center; }
.row-fluid .serviceboxes-main .service-box { padding-left:15px; padding-right:15px; }

.row-fluid .service-bicon { min-height:120px; margin:0 0 20px; }
.row-fluid .serviceboxes-main h2 { font-size: 48px; line-height:50px; color: #111820; padding:0 0 10px; font-weight:700; }
.row-fluid .service-btext { padding:0 0 34px; }
.row-fluid .learnmore-link a { border-radius: 2px; border:2px solid #4597cb; font-size: 18px; line-height:24px; color: #4597cb; min-width:136px; padding:10px 15px; display:inline-block; }
.row-fluid .learnmore-link a:hover { background:#4597cb; color:#fff; }

.row-fluid .monitering-section { float:left; width:100%; padding:70px 0; background:#111820; color:#fff; }
.row-fluid .monitering-img { float:left; margin:0; }
.row-fluid .monitering-content { float:right; margin:0; padding:100px 0 0; }
.row-fluid .monitering-content h2 { font-size: 48px; line-height:50px; color: #fff; padding:0 0 10px; font-weight:700; }

.row-fluid .industries-section { padding:95px 0 80px; float:left; width:100%; }
.row-fluid .industries-content { display:none; text-align:center; }
.row-fluid .industries-content.active { display:block; }
.row-fluid .industries-images .hs_cos_wrapper_widget { display:inline-block; padding:0 15px; width:16%; vertical-align:middle; }
.row-fluid .industries-text { padding:80px 19% 0; font-size:38px; line-height:44px; font-weight:700; }

.row-fluid .industries-images .hs_cos_wrapper_widget img {  -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
-ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); max-height: 100px; width: auto !important; max-width: 100%; height: auto !important; }
/*.row-fluid .industries-images .hs_cos_wrapper_widget img:hover {  -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); }*/

.row-fluid .industries-tabs { text-align:center; padding:40px 0 0; }
.row-fluid .industries-tabs ul { margin:0; padding:0; list-stlye:none; display:block; }
.row-fluid .industries-tabs ul li { display:inline-block; padding:5px 10px; }
.row-fluid .industries-tabs ul li a { color:#15202B; font-size:24px; padding:10px 20px; border-radius:2px; cursor:pointer; min-width:150px; display:inline-block; }
.row-fluid .industries-tabs ul li a:hover , .row-fluid .industries-tabs ul li a.active { background:#3A3535; color:#fff; }


/* Product page */
.row-fluid .productcontent-main { padding:60px 0 95px; }
.row-fluid .productcontent-main ul { padding: 0 0 0 20px; }

.row-fluid .page-title { padding:0 0 40px; }
.row-fluid .page-title h1 { padding:0; }
.row-fluid .product-right h4 { padding:0 0 5px; }
.row-fluid .product-right h4 { padding:15px 0 0; }
.row-fluid .product-rbox { padding:0 0 35px; }
.row-fluid .product-right th { border-left:1px solid #A7A7A8; padding:4px 10px; text-align:left; font-weight:400; line-height:20px; }
.row-fluid .product-right th:first-child { border-left:none;  }
.row-fluid .product-right td { border-left:1px solid #A7A7A8; border-top:1px solid #E9E9ED; padding:10px 10px; color:#54A8D5; font-family: 'roboto', Arial, Helvetica, sans-serif; font-weight:500; }
.row-fluid .product-right td:first-child { border-left:none; }
.row-fluid .product-right tr:nth-child(2n) td { background:#eeeeee; }
.row-fluid .product-right tr:nth-child(2n+1) td { background:#fcfcfc; }
.row-fluid .product-right tr td.check-td { background:#37363B; }
.row-fluid .product-right tr td.check-td2 { background:#4597CB; }

.row-fluid .check { display:inline-block; background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/check-icon.png) no-repeat; width:20px; height:18px; }

/* Forms */
.row-fluid .form-main { padding:60px 0 55px; float:left; width:100%; }
.row-fluid .form-requirerdtext { font-style:italic; }
.row-fluid .hs-form fieldset { max-width:none; }
.row-fluid .form-main h4 { padding:15px 0; }
.row-fluid .form-main h4 + p { padding-top:0; margin-top:0; }
.row-fluid .form-main  .input { margin:0; }
.row-fluid .form-main input[type=text], .row-fluid .form-main input[type=email], .row-fluid .form-main input[type=tel] { border-radius:2px; width:100% !important; text-align:left; border:1px solid #424242; height:40px; padding:0 15px; font-weight:300; font-size:16px; color:#000; }
.row-fluid .form-main select { -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/arrow-img.png) no-repeat center right #fff; border-radius:2px; border:1px solid #424242; height:40px;  padding:0 45px 0 15px; font-weight:300; font-size:16px; color:#000; text-align:left }
.row-fluid .form-main textarea { margin:0 0 25px; border-radius:2px; border:1px solid #424242; height:250px; line-height:28px; padding:15px; font-weight:300; font-size:16px; color:#000; width:100%!important; text-align:left }
.row-fluid .form-main .hs-dateinput input { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/calender-icon.png) no-repeat center right #fff; padding-right:55px; background-size:30px; }
.hs-form fieldset.form-columns-2 .input { margin-right:0 }
.hs-form fieldset.form-columns-2 .field { padding:0 0 10px 10px }
.hs-form fieldset.form-columns-2 .field:first-child , .hs-form fieldset.form-columns-2 .hs-richtext + .field  { padding:0 10px 15px 0 }
.row-fluid .form-main input[type=submit] { height:44px; border-radius:2px; display:inline-block; min-width:200px; background-color:#4597cb; color:#fff; padding:4px 25px 6px; font-size:16px; color:#fff; font-weight:400; margin:10px 0 0; text-align:center }
.row-fluid .form-main input[type=submit]:hover { background-color:#ff9600 }
.row-fluid .form-main .hs-form-required { display:none; }
.row-fluid .form-main .actions { text-align:center; padding:40px 0 0; }
.row-fluid .form-main ul { margin:0; padding:0; list-style:none; }
.row-fluid .form-main label { padding:0 0 15px; display: block; }

.row-fluid .form-main .multi-container li { display:block; padding:0 0 10px 40px; position:relative; }
.row-fluid .form-main label { position:relative; }
.row-fluid .form-main .multi-container label { padding:0; }
.row-fluid .form-main .multi-container input { position:absolute; left:-40px; top: 0; opacity: 0; width: 30px; height: 30px; margin:0; padding:0; }
.row-fluid .form-main .multi-container input + span { line-height: 22px; position:relative; display: block; padding:5px 0; }
.row-fluid .form-main .multi-container .hs-form-checkbox input + span:before { position:absolute; left:-40px; top:0;  content:''; width:30px; height:30px; border:1px solid #dadada;  background:#fafafa; border-radius:4px; }
.row-fluid .form-main  input[type="checkbox"]:checked + span:before { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/check-icon2.png) no-repeat center #fafafa; }
.row-fluid .form-main .multi-container .hs-form-radio input + span:before { position:absolute; left:-40px; top:0;  content:''; width:30px; height:30px; border:1px solid #dadada;  background:#fafafa; border-radius:100%; }
.row-fluid .form-main  input[type="radio"]:checked + span:after { position:absolute; left:-35px; top:5px;  content:''; width:22px; height:22px; background:#ff9600; border-radius:100%; }
.row-fluid .form-main .hs-form fieldset.form-columns-1 .hs-input { width:100%; }
.row-fluid .form-main .hs_i_have_read_the_partener_agreement_and_agree_to_the_terms label { padding:0; }
.row-fluid .form-main .hs_i_have_read_the_partener_agreement_and_agree_to_the_terms .hs-form-booleancheckbox { display:block; padding:0 0 0 40px; position:relative; }
.row-fluid .form-main .hs_i_have_read_the_partener_agreement_and_agree_to_the_terms .hs-form-booleancheckbox input { position:absolute; left:-40px; top: 0; opacity: 0; width: 30px; height: 30px; }
.row-fluid .form-main .hs_i_have_read_the_partener_agreement_and_agree_to_the_terms .hs-form-booleancheckbox input + span { line-height: 22px; position:relative; display: block; padding:5px 0;  }
.row-fluid .form-main .hs_i_have_read_the_partener_agreement_and_agree_to_the_terms .hs-form-booleancheckbox input + span:before { position:absolute; left:-40px; top:0;  content:''; width:30px; height:30px; border:1px solid #dadada;  background:#fafafa; border-radius:4px; }
.row-fluid .form-main .hs_i_have_read_the_partener_agreement_and_agree_to_the_terms input[type="checkbox"]:checked + span:before  {background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/check-icon2.png) no-repeat center #fafafa; }

.row-fluid .form-main .hs_industries1 .inputs-list li { float:left; width:50%; padding-right:15px; }
.row-fluid .form-main .hs_industries1 .inputs-list li:nth-child(2n) { clear:right; }
.row-fluid .form-main .hs_industries1 .inputs-list li:nth-child(2n+1) { clear:left; }
.row-fluid .form-main .hs_industries1 .inputs-list { padding:0 0 15px; float: left; width: 100%; }
.row-fluid .form-main .hs_interested_in_developing_a_certified_kafka_connect_connector_ li { float:left; width:auto;  margin:0 15px 0 0; }
.row-fluid .form-main .hs_interested_in_developing_a_certified_kafka_connect_connector_  .inputs-list { padding:9px 0 0; }

.row-fluid .form-main ::-webkit-input-placeholder { color:#000; opacity:1; }
.row-fluid .form-main ::-moz-placeholder { color:#000; opacity:1; }
.row-fluid .form-main :-ms-input-placeholder { color:#000; opacity:1; }
.row-fluid .form-main input:-moz-placeholder { color:#000; opacity:1; }

.row-fluid .form-main .policy-textarea { margin:0 0 35px; overflow-y:auto; border-radius:2px; /*border:1px solid #424242; */ background:#f5f5f5;
    height:250px; line-height:28px; padding:15px; font-weight:300; font-size:16px; color:#000; width:100%!important; text-align:left }
.row-fluid .form-main .hs_logo_upload .hs-input { border-radius: 2px; border: 1px solid #424242; margin-bottom:20px; height: 40px; padding:6px 15px; font-family: 'roboto',Arial,Helvetica,sans-serif; font-weight: 300; font-size: 18px; color: #000; text-align: left; width:100%; }
.row-fluid .form-main #display , .row-fluid .form-main .hs_logo_upload .browse_text { display:none !important; }
.row-fluid .form-main .hs-form fieldset.form-columns-1 .input { margin-right:0; }

/* Blog */
.row-fluid .blog-main { padding:80px 0 60px; background:#f6f6f6; }

.row-fluid .blogpost-box { width:100%; position:relative; padding:0 0 20px 100px; float: left; }
.row-fluid .blogpost-avatar { position:absolute; left:0; top:30px; width:64px; height:64px; overflow:hidden; border-radius:100%; }
.row-fluid .blogpost-content { width:100%; float:left; background:#fff; border-radius:4px;  }
.row-fluid .blogpost-ctop { padding:30px 20px; }
.row-fluid .blogpost-ctop h2 { padding:0 0 5px; font-size: 26px; color: #111820; }
.row-fluid .blogpost-ctop h2 a { color:#111820; }
.row-fluid .blogpost-ctop h2 a:hover { color:#4597cb; }
.row-fluid .blogpost-image { width:100%; float:left; text-align:center; }

.row-fluid .blogpost-full { display:none; padding:15px 20px 30px; float:left; width:100%; }
.row-fluid .blogpostshort-content { padding:15px 20px 30px; float:left; width:100%; }
.row-fluid .blogpost-text { padding:0 0 10px; float:left; width:100%; }
.row-fluid .blogpost-c { color:#a7a7a8; font-size: 14px; }
.row-fluid .author-link { color: #111820; font-size: 18px; }
.row-fluid .author-link:hover { color: #a7a7a8; }
.row-fluid a.readmore-link { cursor:pointer; color: #4597cb; display:inline-block; margin:0 8px 0 0; }
.row-fluid a.readmore-link:hover { color:#FF7300; }

.row-fluid .blogtabs-main  { display:none; }

.row-fluid .blogpost-bot {  width:100%; float:left; padding:15px 20px; border-top:1px solid  #e9e9ed; }
.row-fluid .blogpost-burl { padding:4px 0; float:left; font-size: 14px; color: #a7a7a8; max-width:70%; line-height:18px; }
.row-fluid .blogpost-burl a { color: #a7a7a8; }
.row-fluid .blogpost-burl a:hover { color: #4597cb; }
.row-fluid .blogpost-bsocial  { float:right; }
.row-fluid .blogpost-bsocial a { display:inline-block; vertical-align:middle; width:26px; height:24px; margin:0 0 0 7px; position:relative; }
.row-fluid .blogpost-bsocial a:hover { color:#4597cb;  }
.row-fluid .blogpost-bsocial a:before { content:''; width:100%; position:absolute; height:100%; top:0; left:0; background-position:center bottom; opacity:0; transition:all .4s ease-in-out;
     -webkit-transition:all .4s ease-in-out; -moz-transition:all .4s ease-in-out; }
.row-fluid .blogpost-bsocial a:hover:before { opacity:1 !important; }

.row-fluid .blogpost-bsocial a.facebook-link2 { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/facebook-facebook1.png) center top no-repeat; }
.row-fluid .blogpost-bsocial a.facebook-link2:before { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/facebook-facebook1.png) center bottom no-repeat; }
.row-fluid .blogpost-bsocial a.twitter-link2 { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/twitter-twitter1.png) center top no-repeat; width:33px; }
.row-fluid .blogpost-bsocial a.twitter-link2:before { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/twitter-twitter1.png) center bottom no-repeat; }
.row-fluid .blogpost-bsocial a.linkedin-link2 { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/linkedin-linkedin1.png) center top no-repeat; }
.row-fluid .blogpost-bsocial a.linkedin-link2:before {  background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/linkedin-linkedin1.png) center bottom no-repeat; }
.row-fluid .blog-pagination { float:left; width:100%; }
.row-fluid .blog-pagination a { text-align:center; margin:10px 10px 0 0; border-radius: 2px; border:2px solid #4597cb; font-size: 18px; line-height:24px; color: #4597cb; min-width:136px; padding:7px 15px; display:inline-block; }
.row-fluid .blog-pagination a:hover { background:#4597cb; color:#fff; }
.row-fluid .blog-sbannouncemnet { padding:20px 0 0; }
.row-fluid .blog-sblink { margin:10px 5px 0 0; float:none; display:inline-block; float:none; width:auto; }
.row-fluid .blog-sbox .blog-sblearnmore a { color:#a7a7a8; }
.row-fluid .blog-sbox .blog-sblearnmore a:hover { color:#4597cb; }

.row-fluid .blog-sbox { padding:0 0 50px; }
.row-fluid .blog-sbform { padding:0 0 10px; }
.row-fluid .blog-sbox h3 { background:#37363b; font-size:16px; color:#fff; padding:15px 20px; line-height:24px; border-radius:4px 4px 0 0; }
.row-fluid .blog-sidebar a { color:#4597cb; }
.row-fluid .blog-sidebar a:hover { color:#FF7300; }

.row-fluid .blogpost-ctopmob { display:none; }

.row-fluid .featuredpost-box { float:left; width:100%; border-bottom:1px solid #a7a7a8; padding:15px 20px; line-height:24px; }
.row-fluid .featuredpost-title { float:left; width:; color: #111820; }
.row-fluid .featuredpost-title2 { float:left; width:100%; }
.row-fluid .featuredpost-img { float:left; }

.row-fluid .featuredpost-box a { color: #111820; }
.row-fluid .featuredpost-box a:hover { color: #4597cb; }
.row-fluid .featuredpost-b { float:left; width:100%; padding:0 100px 0 0; position:relative; }
.row-fluid .featuredpost-img {  position:absolute; width:80px; right:0; top:0; height:50px; overflow:hidden; }
.row-fluid .seeall-link { margin:12px 0 0; display: inline-block; }
.row-fluid .blog-viewalllink { text-align:center; }

.row-fluid .blog-sbform input[type=text] , .row-fluid .blog-sbform input[type=email] , .row-fluid .blog-sbform input[type=phone] {  float:left; width:100%; font-size:16px; height:70px; background:#fff; padding:0 20px; border-bottom:1px solid #a7a7a8; font-weight: 300;  font-family: 'roboto'; }
.row-fluid .blog-sbform textarea { font-size:16px; height:150px; background:#fff; padding:20px; float:left; width:100%;  font-weight: 300;  font-family: 'roboto'; }
.row-fluid .blog-sbform input[type=submit] { height: 48px; border-radius: 2px; background-color: #a7a7a8; text-align:center; float:left; width:100%; color:rgba(255,255,255,0.5); font-size: 18px; }
.row-fluid .blog-sbform input[type=submit]/*:hover*/ { background-color: #4597cb; color:#fff; }
.row-fluid .blog-comment { display:none; }

.row-fluid .blogpost-detail { padding:15px 20px 30px; float:left; width:100%; }
.row-fluid .blogpost-content ul { margin:0; padding:10px 0; list-style:none; }
.row-fluid .blogpost-content ul li { padding:0 0 0 15px; display:block; position:relative; margin:2px 0; }
.row-fluid .blogpost-content ul li:before { content:''; position:absolute; left:0; top:13px; background:#000; border-radius:100%; height:6px; width:6px; border-radius:100%; }

/* Careers page */
.meetteam-main {
    padding:80px 0 80px;
}
.meetteam-right {
    padding:60px 0 0;
}
.row-fluid .meetteam-right h2 {
  padding:0 0 5px;
}
.row-fluid .learnmore-link a { text-align:center; border-radius: 2px; border:2px solid #4597cb; font-size: 18px; line-height:24px; color: #4597cb; min-width:136px; padding:10px 15px; display:inline-block; }
.row-fluid .learnmore-link a:hover { background:#4597cb; color:#fff; }

.row-fluid .aboutserviceboxes-main {
    padding:40px 0 40px;
    width:100%;
    text-align:center;
    background:#111820;
    color:#fff;
    margin-top:80px;
}
.row-fluid .aboutservice-bicon { margin:0 0 20px; }
.row-fluid .aboutservice-bicon span { height:120px; display: block;  }
.row-fluid .aboutservice-bicon img { position:relative; -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); top:50%;  }
.row-fluid .aboutserviceboxes-main h2 {
    color: #fff;
}
.row-fluid .aboutservice-btext { padding:0 0 34px; }
.row-fluid .aboutservice-box { padding:60px 0 0; }

.row-fluid .link-style a { text-align:center; border-radius: 2px; border:2px solid #4597cb; font-size: 18px; line-height:24px; color: #4597cb; min-width:136px; padding:10px 15px; display:inline-block; }
.row-fluid .link-style a:hover { background:#4597cb; color:#fff; }

.row-fluid .getstarted-rbox { padding:0 0 165px; }
.row-fluid .getstarted-rbox h3 { color:#fff; font-size:16px; line-height:24px; padding:15px 20px; border-radius:4px 4px 0 0; background-color: #37363b; }
.row-fluid .getstarted-rbcontent { border-radius:0 0 4px 4px;  background:#F6F6F6; padding:10px 20px 25px; }
.row-fluid .getstarted-rbcontent ul { margin:0; padding:15px 0 10px; list-style:none; }
.row-fluid .getstarted-rbcontent ul li { padding:3px 0; }
.row-fluid .download-text { font-size: 14px; color: #a7a7a8; padding:0 0 45px; }
.row-fluid .getstarted-ltext { padding:30px 0; }
.row-fluid .getstarted-ltext2 { padding:0 0 65px; line-height:16px; }
.row-fluid .getstarted-ltext2 p { padding:8px 0; }
.row-fluid .getstarted-ltext2 p a { display:inline-block; border-left:1px solid #4a4a4a; padding:0 10px; }
.row-fluid .getstarted-ltext2 p a:first-child { margin:0 0 0 30px; border:none; }
.row-fluid .getstarted-ltext2 h4 { padding:10px 0 25px; }

.row-fluid .getstarted-main { padding:35px 0 110px; }
.row-fluid .getstarted-main h2 { font-size:38px; line-height:45px; padding:10px 0; font-weight:700; }

.fixed .row-fluid .blog-sidebar { position:fixed; top:0; }

/* Careers photo slider */
.slick-slider { position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before, .slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; width:auto !important; height:230px; padding:0 2px; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }

.slick-slider button.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 12;
    height: 80px;
    margin-top: -40px;
    font-size: 0px;
    width:0;
    opacity:0;
    transition:all ease 0.3s;
    -moz-transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;
    text-align:center;
    color:#ffffff;
    background:rgba(0,0,0,0.7);
}
.slick-slider:hover button.slick-arrow {
    opacity:1;
    width:55px;
}
.slick-slider:hover button.slick-arrow:before {
    font-size:40px;
}
.slick-slider button.slick-arrow:before {
    font-size:0px;
    line-height:80px;
    display:inline-block;
    font-family:'FontAwesome';
}
.slick-slider button.slick-prev.slick-arrow {
    left: 0;
    border-radius: 0 40px 40px 0;
}
.slick-slider button.slick-prev.slick-arrow:before {
    content:"\f104";
    padding-right:15px;
}
.slick-slider button.slick-next.slick-arrow {
    right: 0;
    border-radius: 40px 0 0 40px;
}
.slick-slider button.slick-next.slick-arrow:before {
    content:"\f105";
    padding-left:10px;
}

/* Lever iframe */
.lever-iframe {
  overflow:hidden;
  margin-top:80px;
}
.lever-iframe iframe {
  margin-top:-70px;
}
.lever-iframe .hs_cos_wrapper_type_raw_html,
.lever-iframe .hs_cos_wrapper_type_widget_container{
  display:block;
}


/* Footer */
.row-fluid .footer {
  border-top:1px solid #e9e9ed;
  padding:40px 20px 40px;
  margin-top:40px;
  position:relative;
}

.row-fluid .footer-text {
  font-size: 11px;
  line-height:18px;
  color: #a7a7a8;
  padding:40px 0 0;
  font-weight:300;
}
.row-fluid .footer-btitle { color:#15202B; padding:0 0 5px; }
.row-fluid .footer-blinks ul li { width:100%; }
.row-fluid .footer-blinks ul li a:link , .row-fluid .footer-blinks ul li a:visited { padding:2px 0; font-size:14px; color:#15202B; line-height:22px; }
.row-fluid .footer-blinks ul li a:hover { color:#4597cb; }


.row-fluid .footer-box {
  width:14%;
  padding:0 0 0 15px;
  margin:0;
 }
.row-fluid .footer-box:first-of-type {
  width:10%;
  padding-left:0;
}

.row-fluid .footer-social {
  text-align:right;
  width:170px;
  position:absolute;
  top:20px;
  right:20px;
}
.row-fluid .footer-social {
  display:inline-block;
  position:relative;
  width:49px;
  height:49px;
  font-size:0;
  background-position:center top;
}
.row-fluid .footer-social a:before { content:''; position:absolute; top:-1px; left:0; width:100%; height:100%; z-index:-1; opacity:0; }
.row-fluid .twitter-link { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/twitter-iconv2.png) no-repeat; }
.row-fluid .footer-social a.twitter-link:before { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/twitter-iconv2.png) center bottom no-repeat; top:0px; }
.row-fluid .linkedin-link { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/linkedin-iconv2.png) no-repeat; }
.row-fluid .footer-social a.linkedin-link:before { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/linkedin-iconv2.png) center bottom no-repeat; }
.row-fluid .github-link { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/github-iconv2.png) no-repeat; }
.row-fluid .footer-social a.github-link:before { background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/github-iconv2.png) center bottom no-repeat; }
.row-fluid .footer-social a:hover { }
.row-fluid .footer-social a:hover:before { z-index:1; opacity:1; }

.row-fluid .footer-privacymenu { display:none; }

 /*-=-=-=-=-=-= About Page =-=-=-=-=-=-*/
 .row-fluid .inner_hero .header-content { padding:280px 0 270px; }
.row-fluid .inner_hero:before ,.row-fluid .inner-header:before {
    background-image: linear-gradient(175deg, rgba(21, 47, 88, 0.7), rgba(251, 101, 27, 0.7));
}

 .text-center { text-align:center; }
 .text_shadow { text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); -moz-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); -webkit-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
 .p0-20 { padding-left:20px; padding-right:20px; } .p10-0 { padding-top:10px; padding-bottom:10px; } .p20-0 { padding-top:20px; padding-bottom:20px; } .p30-0 { padding-top:30px; padding-bottom:30px; }
 .p40-0 { padding-top:40px; padding-bottom:40px; } .p50-0 { padding-top:50px; padding-bottom:50px; } .p60-0 { padding-top:60px; padding-bottom:60px; } .p70-0 { padding-top:70px; padding-bottom:70px; }
 .pb10 { padding-bottom:10px; } .pb20 { padding-bottom:20px; } .pb30 { padding-bottom:30px  } .pb40 { padding-bottom:40px; } .pb50 { padding-bottom:50px; } .pb60 { padding-bottom:60px; } .pb70 { padding-bottom:70px; }
 .pb100 { padding-bottom:100px; }
 .pt10 { padding-top:10px; } .pt20 { padding-top:20px; } .pt30 { padding-top:30px  } .pt40 { padding-top:40px; } .pt50 { padding-top:50px; } .pt60 { padding-top:60px; } .pt70 { padding-top:70px; }
 .about_content p { padding-top:0px; }
 .about_content p + p { padding-top:15px; }
 .about_page .row-fluid .getstarted-rbox { padding-bottom:30px; }
 .about_page .row-fluid .getstarted-rbox h3 ,.news_page .row-fluid .getstarted-rbox h3 { font-size: 18px; line-height: 24px; }
.row-fluid .about_contact { padding:0; }
.row-fluid .about_contact h3 { padding:0; }
.row-fluid .about_contact input ,.row-fluid .about_contact textarea { width:100%; font-family: 'roboto'; font-weight:400; font-size: 16px; line-height: 1.3; padding:20px; border-bottom: solid 1px #a7a7a8; background:#f6f6f6; }
.row-fluid .about_contact input[type="submit"] { background-color: #a7a7a8; color:rgba(255,255,255,0.5); border:none; width:100%; margin-top:-7px; padding:15px 20px; }
.row-fluid .about_contact input[type="submit"]/*:hover */{ background:#4597cb; color:#fff; }

 .about_boxes .about_content { color:#4a4a4a; }
 .about_box { position:relative; width:100%; float:left; overflow:hidden; }

 .about_boxes .social a { background:#4597cb; color:#fff; line-height:30px; text-align:center; display:inline-block; width:30px; border-radius:4px; margin:15px 5px 5px 0; }
 .about_boxes .social a:hover { opacity:0.8; }
 .about_boxes > span > div { width:33.33%; display:inline-block; vertical-align:top; margin-right:-7px; padding:20px 10px; }
 .about_boxes > span > div:nth-child(3n) { padding-right:0; padding-left:20px; }
 .about_boxes > span > div:nth-child(3n-2) { padding-left:0; padding-right:20px; }

 .about_logos .widget-type-linked_image { padding:10px 20px 10px 0; display:inline-block; vertical-align:middle; float:none; }
 .about_listing ul { margin:0; padding:0; list-style:none; }
 .about_listing ul li span { font-size:24px; display:inline-block; vertical-align:top; margin-right:10px; line-height:1; }
 .about_listing ul li + li { margin-top:15px; }

/*-=-=-=-=-=-= Connector Page =-=-=-=-=-=-*/
 .connector_content h4 { padding-top:0px; }
 .connector_content p { padding-top:0px; }
 .connector_content p + p { padding-top:15px; }
 .row-fluid .about_contact .p0-20 { border-bottom:1px solid #a7a7a8; }
 .connector_lists ul { margin:0; padding:0; list-style:none; display:table; width:100%;  }
 .connector_lists ul li { display:table-cell; width:25%; padding:11px; font-weight:600; color:#4a4a4a; word-break:break-word; }
 .connector_lists ul li:first-child { color:#4597cb; }
 .connector_lists ul li + li { border-left:1px solid #a7a7a8; }
 .connector_lists .list_title ul { margin-top:30px; }
 .connector_lists .list_title ul li { background-color:#4597cb; color:#fff; font-weight:400; }
 .connector_lists .flex_col > span > div:nth-child(2n-1) ul { background:#eeeeee; }

/*-=-=-=-=-=-= News and Events =-=-=-=-=-=-*/
html>body .gsc-inline-block { min-width:100px; }
.news_page .row-fluid .getstarted-rbox { padding-bottom:40px; }
.news_page .event_sidebar { margin:10px 0 25px; }
.news_page .event_sidebar .tags { font-size: 14px; line-height: 1.7; color: #4a4a4a; }
.news_page .event_sidebar .title { /*font-size: 24px;*/ font-size:16px; line-height:1.3; color: #4597cb; margin-bottom:10px; }
.news_page .event_sidebar .date_speaker { color:#a7a7a8; font-size:14px; line-height:1.7; }
.news_page .event_sidebar .date_speaker strong { font-weight:500; color:#4a4a4a; }
.news_page .events_section { width:100%; display:inline-block; margin:10px 0; line-height:1.3; }
.news_page .events_section .events_image { display:inline-block; max-width:110px; padding:0 10px 0 0; vertical-align:middle; width:15%; }
.news_page .events_section .events_image img { height:auto; }
.news_page .events_section .events_title { width:84%; display:inline-block; vertical-align:middle; }
.news_page .events_section label { display:block; color:#4597cb; line-height:1.3; }
.news_page .events_section .date { font-size: 14px; line-height: 1.5; color: #a7a7a8 }
.news_page .events_section.no-image .events_title { width:100%; }
.small_fonts { font-size:14px; }

/*-=-=-=-=-=-= Training Page =-=-=-=-=-=-*/
.row-fluid .getstarted-rbcontent.flex_side { padding:0px;  }
.flex_side > span > div:last-child .training_sidebar { border:none; }
.training_sidebar { width:100%; float:left; border-bottom:solid 1px #a7a7a8; padding:14px 20px;  }
.training_sidebar h5 { padding:0px; color:#111820; font-size:16px; }
.training_sidebar .box_left { width:60%; float:left; padding-right:10px; }
.training_sidebar label { color:#4a4a4a; font-size:14px; }
.training_sidebar a { border-radius: 2px; background: #4597cb; font-size: 14px; color: #fff; padding: 7px; width:40%; float:left; text-align:center; margin-top:7px; }

.training_sidebar a:hover { background:#fb651b; }
.list_style1 ul { padding:0 0 0 20px; margin:10px 0; list-style:none; }
.list_style1 ul li { list-style:none; position:relative; }
.list_style1 ul li:before { content:"\b7"; position:absolute; top: 0; left: -18px; font-size: 32px; }

.seeall-link { padding-left:15px; }

/*-=-=-=-=-=-=-=-= Get Started =-=-=-=-=-=-=-=-=-=-*/
.download_dropdown { width:100%; float:left; }
.download_dropdown ul { margin:5px; min-width:150px; padding:0; position:relative; list-style:none; display:inline-block; vertical-align:top; border:2px solid #a7a7a8; border-top:none; background-color:#eeeeee; border-radius:2px; }
.download_dropdown ul .expand_link { position:absolute; top:0px; line-height:44px; right:0; content:"\f107"; font-family:"FontAwesome"; width:30px; text-align:center; color:#4a4a4a;  }
.download_dropdown ul li { padding:8px 40px 8px 15px; border-top:2px solid #a7a7a8; }
.download_dropdown ul li a { color:#4a4a4a; }
.download_dropdown > a { border-radius: 2px; background: #4597cb; font-size: 18px; color: #fff; padding: 10px 35px; display:inline-block; vertical-align:top; margin:5px; }
.download_dropdown > a:hover { background:#fb651b; }

/*=-=-=-=-=-=-= Partner Page =-=-=-=-=-=-=*/
.row-fluid .button a { text-align: center; border-radius: 2px; border: 2px solid #4597cb; font-size: 18px; line-height: 24px; color: #4597cb; min-width: 136px; padding: 10px 15px; display: inline-block; }
.row-fluid .button a:hover {  background: #4597cb; color: #fff;  }
.row-fluid .opposite.button a { text-align: center; border-radius: 2px; border: 2px solid #4597cb; font-size: 18px; line-height: 24px; min-width: 136px; padding: 10px 15px;
    display: inline-block; background: #4597cb; color: #fff; }
.row-fluid .opposite.button a:hover { background:#4089b7; }
.partner2_col { padding:30px 20px 0; }
.partner2_col h1 { padding:0; }
.partner_logos > span > div { width:auto; display:inline-block; padding:15px 30px; vertical-align:middle; max-width:24%; }
.partner_main { padding-top:50px; border-top:1px solid #a7a8a9; }
.second.partner_main { margin-top:50px; }
.partner_main .wrapper { width:845px; max-width:100%;  }
.partner_main h4 { padding:20px 0 0; }
.partner_main p + p { padding-top:0; }

.row-fluid .benifits_table table { padding:15px 0; }
.row-fluid .benifits_table table + table { padding-top:40px; }
.row-fluid .benifits_table th { border-left:1px solid #A7A7A8; padding:4px 10px; text-align:left; font-weight:400; line-height:20px; }
.row-fluid .benifits_table th:first-child { border-left:none;  }
.row-fluid .benifits_table td { border-left:1px solid #A7A7A8; border-top:1px solid #E9E9ED; padding:10px 10px; color:#54A8D5; font-family: 'roboto', Arial, Helvetica, sans-serif; font-weight:500; }
.row-fluid .benifits_table td:first-child { border-left:none; width:70%; }
.row-fluid .benifits_table tr:nth-child(2n) td { background:#eeeeee; }
.row-fluid .benifits_table tr:nth-child(2n+1) td { background:#fcfcfc; }
.row-fluid .benifits_table tr td.check-td { background:#37363B; }
.row-fluid .benifits_table tr td.check-td2 { background:#4597CB; }
.row-fluid .check { display:inline-block; background:url(http://cdn2.hubspot.net/hubfs/540072/confluent/images/check-icon.png) no-repeat; width:20px; height:18px; }



/*-=-=-=-=-=-=-= Updates / errors =-=-=-=-=-=*/
.form_page .body-container-wrapper .wrapper { max-width:800px;  }
.hs-blog-listing .footer ,.hs-blog-post .footer ,.no_footer_space .footer { margin-top:0; }
.hs-blog-listing .row-fluid .blogpost-image img { width:100%; }
.hs-blog-listing  .row-fluid .blogpost-bot { position:static !important; left:0 !important; margin-left:0 !important; }
.hs-blog-post .row-fluid .blogpost-bot { position:fixed; bottom:0; left:0; background:#fff; margin-left:100px; z-index:5; max-width:670px; width:100%; }
.blogpost-bot.nomargin  { margin:0 !important; }


/*-=-=-=-=-=-=-=-= Sidebar Fixed =-=-=-=-=-=-=-=-=-=-*/
#side.fixed {
    position: fixed !important;
    top: 0;
}
