@media (max-width: 1220px) {
 /*wrapper inner padding*/
 /* THIS SELECTOR IS TOO GENERAL... MESSING UP THE PADDING AROUND PAGE CONTENT LIKE THE BLOG, PRODUCT PAGE ETC... */
 /* .row-fluid .wrapper { padding:0 30px; } */

 /* Nav links */
  .row-fluid .mainmenu {
    float:left;
    z-index:2;
  }
  .row-fluid .mainmenu ul li a {
    font-size:16px;
    margin:0 15px;
  }

  .row-fluid .mainmenu ul li:last-child a {
    position:absolute;
    right:20px;
    font-size:16px;
  }

  /* Search */
  .top-search,
  .top-search .gsc-input-box,
  .top-search .gsc-input-box input {
    width: 32px !important;
    border: none !important;
  }
  .top-search .gsc-input-box-focus,
  .top-search .gsc-input-box-focus input {
    width:450px !important;
    box-shadow:none;
  }
  .top-search .gsst_a .gscb_a {
    display: none;
  }
  .top-search-focus + .mainmenu {
    position:absolute;
    left:85%;
    width:100%;
  }


  /* Top */
  .top-focus {
    border-bottom:2px solid #4597cb;
  }

  /* Footer */
  .row-fluid .footer-btitle {
    font-size:14px;
  }

  .row-fluid .footer-blinks a {
    font-size:10px !important;
  }


  /* Careers Page */
  .meetteam-main {
    padding:80px 20px;
  }
  .meetteam-right {
    padding-top:0;
  }
  .aboutserviceboxes-main {
    padding:40px 20px !important;
  }
}

@media (max-width: 875px) {
  h1 {
    font-size:48px !important;
    line-height:52px !important;
  }

  /* Header */
  .row-fluid .inner-header {
    font-size:20px;
  }

  /* Hide Logo */
  .top {
    height:72px;
    padding:16px 20px 16px;
  }
  .top .logo {
    display:none;
  }
  .top-search {
    margin-left:0 !important;
  }

  /* Footer */
  .row-fluid .footer {
    padding-top:20px;
  }
  .row-fluid .footer-social {
    top: 20px;
  }
  .row-fluid .footer-social a {
      height: 39px;
      width: 39px;
  }
  .row-fluid .footer-social a:before {
      top:0 !important;
  }
  .row-fluid .footer-left {
    display:none;
  }
  .row-fluid .footer-privacymenu {
      display:block;
  }
  .row-fluid .footer-privacymenu a {
      font-size: 11px;
      line-height: 16px;
      color: #a7a7a8;
      font-weight:300;
  }
  .row-fluid .footer-privacymenu li {
      height:16px;
  }
  .row-fluid .footer-privacymenu ul {
      margin:0;
      padding:0;
      list-style:none;
      float:left;
      width:100%;
  }
  .row-fluid .footer-text {
    padding-top:10px;
  }

  /* Careers Page */
  .meetteam-left {
    width:100% !important;
    padding:0 20px;
  }
  .meetteam-left img {
    width:90%;
    margin:0 auto;
    display:block;
  }
  .meetteam-right {
    padding: 40px 20px 0;
    margin: 0 !important;
    width: 100% !important;
    text-align:center;
  }
  .row-fluid .aboutservice-box {
    width: 28%;
    float: left;
    margin-left: 5%;
  }
}

@media (max-width: 700px) {
  /* Hide CTA */
  .row-fluid .mainmenu ul li:last-child {
    display:none;
  }
}

@media (max-width: 568px) {
  h1 {
    font-size:42px !important;
    line-height:48px !important;
  }

  /* Header */
  .row-fluid .inner-header {
    font-size:16px;
  }

  /* Nav */
  .top {
    height:48px;
    padding:3px 10px 5px;
  }
  .row-fluid .mainmenu ul li {
    float:left !important;
    width:auto;
  }
  .row-fluid .mainmenu ul li a {
    font-size:12px;
    margin:0 10px;
    width:auto;
  }
  .row-fluid .mainmenu ul li.active a:before {
    height:2px;
    bottom:5px;
  }

  /* Careers */
  .slick-slide img {
    height:140px;
  }
  .row-fluid .aboutservice-box {
    width:100%;
    margin-left:0;
  }
}

@media(min-width:768px){
  .inner-header { padding:0 30px; }
  div .hs-form fieldset.form-columns-3 .hs-form-field { width:33.33%; padding:6px 0; }
  /* .hs-form fieldset .input { padding:0 10px; margin:0 !important; } */ // This is messing up the alignment on form fields for desktop sidebars
  .footer_space { margin-top:100px; }
}


@media ( max-width:960px ) {
   /*wrapper inner padding*/
   /* .row-fluid .wrapper { padding:0 15px; } */

   /* Decresing Common Paddings For Tablet Portrait view and Mobile Devices */
  .p40-0 { padding-top:30px; padding-bottom:30px; }
  .p50-0 { padding-top:35px; padding-bottom:35px; }
  .p60-0 { padding-top:40px; padding-bottom:40px; }
  .p70-0 { padding-top:45px; padding-bottom:45px; }
  .pb40 { padding-bottom:30px; }
  .pb50 { padding-bottom:35px; }
  .pb60 { padding-bottom:40px; }
  .pb70 { padding-bottom:45px; }
  .pt40 { padding-top:30px; }
  .pt50 { padding-top:35px; }
  .pt60 { padding-top:40px; }
  .pt70 { padding-top:45px; }
  .pb100 { padding-bottom:60px; }

  h2 { font-size:28px; line-height:36px; }

  .row-fluid .getstarted-main { padding:35px 0 50px; }
  .about_boxes > span > div { width:50%;  }
  body .row-fluid .about_boxes > span > div:nth-child(2n) { padding-right:0; padding-left:20px; }
  body .row-fluid .about_boxes > span > div:nth-child(2n-1) { padding-left:0 ; padding-right:20px ; }
  .hs-blog-post .row-fluid .blogpost-bot { left:0 !important; margin-left:115px !important; }
}


@media(max-width:767px){
  /* Sidebars */
  .sticky {
    width:100%;
  }
  .sticky-inner {
    margin:0 !important;
  }

  .inner-header { padding:0 15px; }
  .row-fluid .blog-main { padding:80px 0 40px; }

  /* Blog posts */
  .row-fluid .blogpost-box {
      padding:0 0 20px;
  }
  .row-fluid .blogpost-avatar {
    position:absolute;
    top:20px;
    left:20px;
  }
  .row-fluid .blogpost-ctop {
    padding-left:100px;
  }
  .row-fluid .blogpost-ctop h2 {
    padding-top: 30px;
  }
  .row-fluid .blogpost-c .post-date {
    float:right;
  }
  .row-fluid .blogpost-c {
    width:100%;
    position:absolute;
    left:0;
    top:20px;
    padding:0 20px 0 100px;
  }

  .hs-blog-post .row-fluid .blogpost-bot { margin-left:-20px; }
  .about_boxes > span > div { width:100%;  padding-left:0 !important; padding-right:0 !important; }
  .about_boxes > span > div .about_image img { width:auto !important; min-height:0 !important; }
  div .hs-form fieldset.form-columns-3 .hs-form-field { width:100%; padding:5px 0; }
  .hs-form fieldset .input { padding:0 8px; margin:0 !important; }
  div form.hs-form .form-columns-2 .hs-form-field .hs-input, div form.hs-form .form-columns-3 .hs-form-field .hs-input { width:100%; }
  .hs-blog-post .row-fluid .blogpost-bot { left:15px !important; margin-left:0px !important; }
}
